<!DOCTYPE html>
<html>
<head>
    <title>Список клиентов</title>
</head>
<body>
    <h1>Список клиентов</h1>
    <table>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Действия</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>
                <a href="{% url 'customer_edit' customer.id %}">Редактировать</a>
                <a href="{% url 'customer_delete' customer.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'customer_add' %}">Добавить клиента</a>
</body>
</html>
